header {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-bottom: 10px;
}

header h1 {
    font-size: 1em;
    margin-bottom: 0.5em;
}

header h2 {
    font-size: 0.8em;
    color: #ddd;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#visualization-scene1 {
    margin: auto;
    width: 80%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#visualization-scene2 {
    margin: auto;
    width: 80%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#visualization-scene3 {
    margin: auto;
    width: 80%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Styles for different elements of the charts can go here */
/* For example, if you're using SVG elements to create your charts: */

svg {
    width: 100%;
    height: auto;
}

/* Styles for the lines on a line chart */
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

/* Styles for the tooltip popups */
.tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    background: #efefef;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    pointer-events: none; /* This makes the tooltip ignore mouse events, which can improve usability */
}

/* Styles for the annotations */
.annotation {
    fill: #333;
    font-size: 12px;
}

.scene {
    display: none;  /* Hide all scenes by default */
}
.active {
    display: block;  /* Show the active scene */
}

.scene-button {
    background-color: #4CAF50; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 5px 20px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.first-button {
    margin-left: 140px;  /* Add a margin to the left of the first button */
}

.select {
    margin-left: 140px;  /* Add a margin to the left of the first button */
}